/*Defining global variables(Color palette and fonts */
:root {
    --purple: #10002b;
    --silver: #c6c5b9;
    --mustard: #dba81a;
}

/*NAVBAR:*/
#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 35px;
    background-color:var(--purple);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Oswald";
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.title-wrapper {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin: 20px;
    padding: 35px;
    border-radius: 8px;
    transition: background-color 0.4s ease-in-out;
    font-weight: 700;
}


#menu a {
    text-decoration: none;
    color: var(--silver);
    padding: 10px;
    margin: 10px;
    width: 15px;
}

#menu a:hover{
    color: var(--purple);
    background-color: var(--mustard);
}


#page-title {
    color: var(--silver);
    margin: 10px;
    font-weight: 800;
    font-size: 45px;
}

.icon {
    width: 30px;
    margin: 5px;
}


/*BIO SPACE:*/

p{
    font-family: "Carrois Gothic SC", sans-serif;
}

.bio {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px;
    margin: 50px;
    border-radius: 25px;
}

.bio-info {
    flex: 1;
    text-align: center;
    font: 100vw;   
    color: var(--silver);
}

.image {
    flex: 1;
    margin-left: 20px;
    /* Adjust margin as needed */
}

.image img {
    max-width: 100%;
}

.image p {
    text-align: center;
    font-size: smaller;
    max-width: 400px;
    color: var(--silver);
}

/*FILMS SECTION*/

#section-title{
    font-family: "Oswald";
    color: var(--mustard);
    text-align: center;
    align-items: center;
    font-size: 40px;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style:normal;
}

#title-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.film-title{
    font-family: "Oswald";
    color: var(--silver);
    padding: 10px;
    font-size: 25px;

}

.film-desc{
    color: var(--mustard);
    max-width: 400px;
    padding: 10px;
    min-height: 50px;
    margin: 5px;
}

.films {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
    align-items: center;
}

.films a img{
    height:32px;
    width: 32pxpx;
}

.film-iten {
    display: flex;
    flex-direction:column;
    border: 1px solid #ccc;
    padding: 20px;
    height: 870px;
    align-items: center;
    text-align: center;
}

footer{
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    color: var(--mustard);
    text-decoration: none;
    font-size: 10px;
}



body {
    background-color: #10002B;
    margin: 0;
    padding-top: 100px;
}

@media (max-width: 860px) {

    li{
        display: block;
    }
}

@media (max-width: 768px) {
    #menu {
        padding: 15px;
    }
    .title-wrapper {
        flex-direction: column;
        align-items: center;
    }
    #page-title {
        font-size: 30px;
        margin-top: 10px;
    }
    
    li {
        display: block;
        margin: 10px;
    }
    .film-iten {
        height: auto;
        margin: 5px;
    }

    .film-iten img{
        height: 400px;
    }
}



@media (max-width: 576px) {
    /* Navbar adjustments */

    .bio{
        display: block;
    }
    #menu {
        padding: 10px;
    }
    #page-title {
        font-size: 25px;
        margin-top: 5px;
    }

    li {
        display: block;
        margin: 5px;
        padding: 10px;
    }

    .film-desc {
        font-size: smaller;
    }

    .film-iten {
        padding: 10px;
        height: auto;
        margin: 5px;;
    }

    .film-iten img{
        height: 400px;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .films {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    .film-title {
        font-size: 20px;
    }
}