/*Defining global variables(Color palette and fonts */
:root {
    --purple: #10002b;
    --silver: #c6c5b9;
}

/*NAVBAR:*/
#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 35px;
    background-color:var(--purple);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Oswald";
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.title-wrapper {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin: 20px;
    padding: 35px;
    border-radius: 8px;
    transition: background-color 0.4s ease-in-out;
    font-weight: 700;
}


#menu a {
    text-decoration: none;
    color: var(--silver);
    padding: 10px;
    margin: 10px;
    width: 15px;
}
#menu a:hover{
    color: var(--purple);
    background-color: var(--silver);
}


#page-title {
    color: var(--silver);
    margin: 10px;
    font-weight: 800;
    font-size: 45px;
}

.icon {
    width: 30px;
    margin: 5px;
}


/*BIO SPACE:*/
.bio {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px;
    margin: 50px;
    border-radius: 25px;
}

.bio-info {
    flex: 1;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--silver);
}

.image {
    flex: 1;
    margin-left: 20px;
    /* Adjust margin as needed */
}

.image img {
    max-width: 100%;
}

.image p {
    text-align: center;
    font-size: smaller;
    max-width: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--silver);
}


/*384px (Galaxys20)*/
@media screen and (max-width: 384px) {
    #menu {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .title-wrapper {
        align-items: center;
    }

    li {
        margin: 5px;
        padding: 4px 8px;
    }

    li:focus {
        background-color: black;
    }

    #page-title {
        margin: 3px;
        font-size: 25px;
    }

    .icon {
        width: 18px;
        margin: 2px;
    }
}

@media screen and (min-width: 321px) and (max-width: 810px) {
    li {
        display: inline-block;
        /* Change display back to inline-block */
    }
}

body {
    background-color: #10002B;
    margin: 0;
    padding-top: 100px;
}